
<div class="grid">
    <div class="col">
        <p-card header="Reporte de participantes y asistencias" class="card-rpt" (click)="descargar_reporte('registro_usuario')"
            [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <i class="pi pi-users text-indigo-400" style="font-size: 2rem"></i>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Reporte de participantes y asistencias" class="card-rpt" (click)="descargar_reporte('registro_usuario')"
            [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <i class="pi pi-users text-indigo-400" style="font-size: 2rem"></i>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Reporte de participantes y asistencias" class="card-rpt" (click)="descargar_reporte('registro_usuario')"
            [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <i class="pi pi-users text-indigo-400" style="font-size: 2rem"></i>
        </p-card>
    </div>
</div>
 


<!-- <p-card header="Reporte de asistencias" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <i class="pi pi-users text-indigo-400" style="font-size: 2rem"></i>
</p-card> -->