<div class="card p-fluid">

    <div class="flex align-items-center justify-content-center">

        <div class="grid">
            <div class="col-12">
                <i #icon class="pi flex align-items-center justify-content-center -mb-3" style="font-size: 6rem"></i>
            </div>
            <div class="col-12">
                <span class="flex align-items-center justify-content-center -mb-4"><a [href]="link">{{ documentName }}</a></span>
                
            </div>
        </div>
        
    </div>

</div>