<div class="card">
    <div class="flex align-items-center justify-content-center mb-4">
        <h5>Avance del Registro</h5>
    </div>

    <ul class="p-0 mx-0 mt-0 mb-4 list-none">

        <li class="flex align-items-center py-2 border-bottom-1 surface-border">

            <span class="text-900 line-height-3 mr-auto">Datos Personales</span>

            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center {{bg_datos_personales}} border-circle mr-3 flex-shrink-0">
                <i class="pi {{icon_datos_personales}} text-xl {{txt_datos_personales}}"></i>
            </div>
        </li>

        <li class="flex align-items-center py-2 border-bottom-1 surface-border">

            <span class="text-900 line-height-3 mr-auto">Selección del comité</span>

            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center {{bg_seleccion_comite}} border-circle mr-3 flex-shrink-0">
                <i class="pi {{icon_seleccion_comite}} text-xl {{txt_seleccion_comite}}"></i>
            </div>
        </li>

        <li class="flex align-items-center py-2 border-bottom-1 surface-border">

            <span class="text-900 line-height-3 mr-auto">Permisos y autorizaciones</span>

            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center {{bg_permisos_autorizaciones}} border-circle mr-3 flex-shrink-0">
                <i class="pi {{icon_permisos_autorizaciones}} text-xl {{txt_permisos_autorizaciones}}"></i>
            </div>
        </li>

        <!-- <button pButton pRipple class="mt-2 w-full" label="Continuar"></button> -->


    </ul>

</div>