<!-- <h1>Complementa información</h1> -->
<!-- <router-outlet></router-outlet> -->
<div class="card">
    <!-- <h5>Custom Headers</h5> -->
    <p-tabView [(activeIndex)]="index" styleClass="tabview-custom">
        <p-tag styleClass="" class="flex justify-content-end flex-wrap" icon="pi pi-exclamation-triangle" severity="warning" value="Todos los campos son obligatorios"></p-tag>
        <p-tabPanel tooltip="Todos los campos son obligatorios" header="Datos">
            <ng-template pTemplate = "header">
                <div class="mr-2">
                    <i class="pi pi-database"></i>
                </div>
                <div>
                    <label>Datos</label>
                </div>                
            </ng-template>
            
            <app-form-datos (cierraModal)="cierraVideoMetodo($event, 1);"></app-form-datos>
            
        </p-tabPanel>
        <p-tabPanel tooltip="Todos los campos son obligatorios" header="Selección de comité" [disabled]="tab2Dis">
            <ng-template pTemplate = "header">
                <div class="mr-2">
                    <i class="pi pi-check-square"></i>
                </div>
                <div>
                    <label>Selección de comité</label>
                </div>
            </ng-template>
            
            <app-form-seleccion-comite (cierraModal)="cierraVideoMetodo($event, 2);"></app-form-seleccion-comite>

        </p-tabPanel>
        <p-tabPanel header="Permisos y autorizaciones" [disabled]="tab3Dis">
            <ng-template pTemplate = "header">
                <div class="mr-2">
                    <i class="pi pi-users"></i>
                </div>
                <div>
                    <label>Permisos y autorizaciones</label>
                </div>
                <!-- <i class="pi pi-search"></i> -->
            </ng-template>
            
            <app-form-permisos></app-form-permisos>

        </p-tabPanel>

        <p-tabPanel header="Permisos y autorizaciones" [disabled]="tab3Dis">
            <ng-template pTemplate = "header">
                <div class="mr-2">
                    <i class="pi pi-users"></i>
                </div>
                <div>
                    <label>Evaluaciones y Encuesta</label>
                </div>
                <!-- <i class="pi pi-search"></i> -->
            </ng-template>
            
            <app-form-permisos></app-form-permisos>

        </p-tabPanel>
    </p-tabView>
    </div>