<div class="layout-topbar">
    <!-- <a class="layout-topbar-logo" routerLink=""> -->
    <a class="layout-topbar-logo">
        <img src="assets/layout/images/iecm/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>IECM</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div class="flex align-items-center justify-content-center">
        <span>INMUN<br>Modelo de Naciones Unidas</span>
    </div>

    <a class="layout-topbar-logo ml-4 justify-content-end flex-wrap">
        <img src="assets/images/inmun.jpg" alt="logo del INMUN" style="height: 3.5rem !important;">
    </a>

</div>