<div class="layout-topbar">

    <a class="layout-topbar-logo">
        <img src="assets/layout/images/iecm/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo">
        <span>IECM</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div class="topbar-center">
        <span>INMUN<br>Modelo de Naciones Unidas</span>
    </div>

    <div class="topbar-right">
        <img src="assets/images/inmun-logo.png" alt="logo del INMUN">
    </div>

</div>